<style>
    #item-table{
        max-height: 600px;
        overflow-y: scroll;
        width: 95%;
        margin: 20px auto;
    }

    #list-controls{
        margin: 20px auto 0px 20px;
        width: 67%;
    }
</style>

<div class="m-t-1">
    <div class="btn-group" id="list-controls">
        <button class="btn btn-outline-info" routerLink="/admin/main/products" routerLinkActive="active">
            Products
        </button>
        <button class="btn btn-outline-info" routerLink="/admin/main/orders" routerLinkActive="active">
            Orders
        </button>
        <button class="btn btn-outline-danger" (click)="logout()">
            Logout
        </button>
    </div>
    <div class="" id="item-table">
        <router-outlet></router-outlet>
    </div>
</div>