<style>
    form {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    label{
        width: 80px;
        text-align: right;
        font-weight: 200;
    }

    @media (min-width: 768px) {
        form {
            width: 75%;
        }
    }
</style>

<div class="bg-danger m-t-1 p-a-1 text-xs-center" *ngIf="errorMessage != null">
    {{errorMessage}}
</div>
<div class="p-a-1">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
        <div class="form-group col-sm-6">
            <label>Name:</label>
            <input class="" name="username" [(ngModel)]="username" required />            
        </div>
        <div class="form-group col-sm-6">
            <label>Password:</label>
                <input class="" type="password" name="password" [(ngModel)]="password" required />
        </div>
        <div class="text-xs-center">
            <button class="btn" routerLink="/" id="back-button">Go back</button>
            <button class="btn" type="submit" id="login-button">Log In</button>
        </div>
    </form>
</div>