table{
    margin-top: 20px;
    max-height: 800px;
    overflow: scroll;
}

table tbody tr:nth-child(even){
    background-color: #cff7fc
}
table tbody tr:nth-child(odd){
    background-color: white
}

.list-controls th:hover{
    background-color: coral;
}

#out-of-stock{
    color: red;
}

