#btn-new-product{
    margin-bottom: 20px;
    background-color: #093;
    color: white;
}

table tbody tr:nth-child(even){
    background-color: #cff7fc
}
table tbody tr:nth-child(odd){
    background-color: white
}

.list-controls th:hover{
    background-color: coral;
}

#out-of-stock{
    color: red;
}

