<table class="table table-sm table-striped">
    <thead>
        <tr class="list-controls">
            <th (click)="changeSortMethod(0)">Name &#9660;</th>
            <th (click)="changeSortMethod(2)">Category &#9660;</th>
            <th (click)="changeSortMethod(1)">Price &#9660;</th>
            <th (click)="toggleOptions()">Edit &#43;/&#8722;</th>
        </tr>
    </thead>
    <tbody class="product-list">
        <tr *ngFor="let p of getProducts()">
            <td>{{p.name}}</td>
            <td>{{p.category}}</td>
            <td>{{p.price | currency:"USD":true:"2.2-2"}}</td>
            <td>
                <div class="btn-group" *ngIf="optionsRevealed">
                    <button class="btn btn-sm btn-warning" [routerLink]="['/admin/main/products/edit', p.name]">
                        Edit
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.name)">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/products/create">
    Create New Product
</button>