<style>
    form{
        width: 98%;
        background-color: #6cbbd3c0;
        padding: 5px;
    }

    form textarea {
        min-width: 174px;
        height: 200px;
    }
    label, .custom-input, #stock-input{
        width: 80px;
    }
    
    #delete-box {
        float: right;
    }

    .form-buttons{
        margin: 0px;
        width: 300px;
    }

    @media (min-width: 992px) {
        form textarea {
            min-width: 400px;
            height: 100px;
        }
    }
</style>

<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="" [class.bg-warning]="editing">
        <h3 id="form-title">Product {{editing ? "Editor" : "Creator"}}</h3>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" [(ngModel)]="product.name" />
    </div>
    <div class="form-group">
        <label>Category:</label>
        <input class="custom-input" name="category" [(ngModel)]="product.category" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" [(ngModel)]="product.description">
        </textarea>
    </div>
    <div class="form-group">
        <label>Image URL:</label>
        <textarea class="form-control" name="imageURL" rows="3" [(ngModel)]="product.imageURL">
            </textarea>
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="number" min="0" class="custom-input" name="price" [(ngModel)]="product.price" />
    </div>
    <div class="form-group">
        <label>Stock: </label>
        <input type="number" id="stock-input" min="0" class="" name="stock" [(ngModel)]="product.stock" />
    </div>
    <section class="form-buttons">
        <button type="submit" class="btn" [class.btn-confirm]="!editing">
            {{editing ? "Save" : "Create"}}
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
            Cancel
        </button>

        <section *ngIf="editing" id="delete-box">
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </section>
    </section>

</form>