<div class="container-fluid">
	<div class="" id="shop-controls">
		<section class="dropdown col-xs-6 col-sm-2" role="group" id="filter-control">
			<button type="button" class="btn-block dropdown-toggle" id="filter-menu" data-toggle="dropdown">
				<span class="caret"> </span>
				Filter by: {{categorySelected == null? "None" : categorySelected}}
			</button>
			<div class="dropdown-menu" id="filter-menu">
				<button type="button" class="btn-lg btn-block" (click)="changeCategory()">None</button>
				<button type="button" class="btn-lg btn-block" *ngFor="let cat of categories" (click)="changeCategory(cat)">{{cat}}</button>
			</div>
		</section>
		<section class="dropdown col-xs-6 col-sm-2" role="group" id="sort-control">
			<button type="button" class="btn-block dropdown-toggle" id="filter-menu" data-toggle="dropdown">
				<span class="caret"> </span>
				Sort by : {{sortedBy}}
			</button>
			<div class="dropdown-menu" id="sort-menu">
				<button type="button" class="btn-lg" (click)="changeSortMethod(0)">Name &#9650;</button>
				<button type="button" class="btn-lg" (click)="changeSortMethod(1)">Name &#9660;</button>
				<button type="button" class="btn-lg" (click)="changeSortMethod(2)">Price &#9650;</button>
				<button type="button" class="btn-lg" (click)="changeSortMethod(3)">Price &#9660;</button>
			</div>
		</section>
		<section class="dropdown col-xs-6 col-sm-2" role="group" id="page-control">
			<button type="button" class="btn-block dropdown-toggle" id="filter-menu" data-toggle="dropdown">
				<span class="caret"> </span>
				Items per Page: {{productsPerPage}}
			</button>
			<div class="dropdown-menu" id="page-menu">
				<button type="button" class="btn-lg" (click)="changePageSize(50)">50</button>
				<button type="button" class="btn-lg" (click)="changePageSize(20)">20</button>
				<button type="button" class="btn-lg" (click)="changePageSize(10)">10</button>
				<button type="button" class="btn-lg" (click)="changePageSize(5)">5</button>
				<button type="button" class="btn-lg" (click)="changePageSize(3)">3</button>
			</div>
		</section>
		<section class="col-xs-6 col-sm-3">
			<cart-summary></cart-summary>
		</section>
		<section class="col-xs-12 col-sm-3" >
			<button class="btn-block" routerLink="/admin" id="login-button">Login</button>
		</section>
		<div id="page-buttons" *ngIf="pageCount > 1">
			<button *counter="let page of pageCount" (click)="changePage(page)" class="btn" [class.active]="page == selectedPage">
				{{page}}
			</button>
		</div>
	</div>

	<div class="container-fluid product-list">
		<div class="product-block" *ngFor="let product of products ">
			<div class=" col-xs-4 product-image">
				<img class="img-responsive " [src]="product.imageURL ">
			</div>
			<div class=" col-xs-8 product-stats">
				<h3>
					<span id="product-name">{{product.name}}</span>
				</h3>
				<p>
					<span id="product-description">{{product.description}}</span>
				</p>
				<h3>
					<span id="product-price">{{product.price | currency:'USD':true:'1.2-2'}}</span>
				</h3>
				<h4>
					<span id="product-stock">In stock: {{(product.stock > 0)? product.stock : "none"}}</span>
				</h4>
				<button type="button " class="btn btn-rounded " (click)="addItemToCart(product) ">Add to Cart</button>
			</div>
		</div>
	</div>
</div>