<div class="" id="" *ngIf="!orderSent">
  <div>
    <p>
      Order for: {{order.firstname}} {{order.lastname}}
    </p>
    <p>
      Payment type: {{order.paymentMethod}}
    </p>
    <p>
      Payment acct: {{order.cardNumber}}
    </p>
    
  </div>
  <div>
    <button class="btn" routerLink="/checkout">Back</button>
    <button class="btn" (click)="confirmOrder()">Confirm</button>
  </div>
</div>
<div *ngIf="orderSent">
  <h3>Thanks for shopping</h3>
  <button class="btn" routerLink="/store">Back to Store</button>
</div>