input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }

form{
    width: 95%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 60px 20px;
    background-color: #8edcf3c0;
    border-radius: 4px;
    box-shadow: 0px 8px 20px -10px gray;
}
#form-heading{
    width: 100%;
    margin: 20px auto 30px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Crimson Text', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
}
#form-heading, form label{
    color: #07616c;
    font-family: 'Crimson Text','Times New Roman', Times, serif;
}
form label{
    width: 150px;
}
form select{
    height: 26px;
    width: 174px;
}
form div.text-xs-center{
    margin: 40px auto 20px;
    width: 60%;
}
form div.text-xs-center button{
    color: white;
    background-color: rgb(34, 109, 105);
    border: 1px solid white;
}

@media (min-width: 540px){
    form label{
        width: 40%;
        text-align: right;
        padding-right: 10px;
        font-size: 1.2em;
    }
}