table{
    width: 90%;
    margin: 10px auto 30px;    
}
table{
    border: 1px solid black;
}
thead, tbody{
    border-bottom: 1px solid black;
}

thead th{
    background-color: whitesmoke;
}
tbody td{
    background-color: white;
}
tfoot td{
    background-color: #ffdacc;
    font-weight: 400;
}
th, td{
    padding:5px; 
}
.quantity-header, .quantity-cell{
    text-align: center;
}
.subtotal-header, .subtotal-cell, .total-cell{
    text-align: right;
}